<table class="table table-striped table-bordered dataTable js-exportable">
  <thead>
  <tr>
  <th></th>
  <% University.all.each do |u| %>
    <th><%= u %></th>
  <% end %>
  </tr>
  </thead>
  <tbody>
  <% Program.all.each do |p| %>
  <tr>
    <th><%= p %></th>
    <% University.all.each do |u| %>
      <th><%= u.ay_applicants_by_program(p.id).count %></th>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>