<table class="table table-bordered dataTable js-exportable">
  <thead>
  <tr>
    <th></th>
    <% Applicant::GRADING_STATUS.each do |gs| %>
        <th><%= gs %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% University.all.each do |u| %>
      <tr>
        <th><%= u %></th>
        <% Applicant::GRADING_STATUS.each do |gs| %>
            <th><%= @program.ay_applicants_by_university_by_license_status(u.id, gs).count rescue nil %></th>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>