<div class="header">
  <h2>Application Details <center>
    <% unless @application_calendar.blank? %>
        <% if @application_calendar.try(:start_time) <= Date.today and @application_calendar.try(:end_time) >= Date.today and !@applicant.status? %>
            <%= link_to 'Edit Application', edit_applicant_path(@applicant), class: 'btn btn-primary'  unless current_user.admin?%>
        <% end %>
    <% end %>

    <% unless @application_calendar.blank? %>
        <% if @application_calendar.try(:start_time) <= Date.today and @application_calendar.try(:end_time) >= Date.today and !@applicant.status? %>
            <%= link_to 'Submit Application', submit_applicant_path(@applicant), class: 'btn btn-primary',data: { confirm: 'Are you sure you have finished your application? You can not edit your application once you submitted.' }  unless current_user.admin?%>
        <% end %>
    <% end %>

    <%= link_to 'Download Application as PDF', details_applicant_path(@applicant, format: :pdf), class: 'btn btn-primary' if @applicant.status? %>
  </center></h2>
</div>
<div class="body">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs tab-nav-right" role="tablist">
    <li role="presentation" class="active"><a href="#personal_details" data-toggle="tab">Personal Details</a></li>
    <li role="presentation"><a href="#university_choices" data-toggle="tab">Document Attachments</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="personal_details">
      <%= render partial: 'applicant' %>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="exam_hub">
      <div class="header">
        <h2>
          <i class="material-icons">location_on</i>
          <span>Exam Hub</span>
        </h2>
      </div>
      <div class='row'>
        <div class='col-sm-6'>
          Selected Exam Hub
        </div>
        <div class='col-sm-6'>
          
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="services">
      <div class="header">
        <h2>
          <i class="material-icons">work</i>
          <span>Services</span>
        </h2>
      </div>
      <div class="body table-responsive">
        <div class='row'>
          <div class='col-sm-6'>
            Served at an institution ?
          </div>
          <div class='col-sm-6'>
            
          </div>
        </div>

        <div class='row'>
          <div class='col-sm-6'>
            sponsor
          </div>
          <div class='col-sm-6'>
            
          </div>
        </div>

      </div>
      </div>

    <div role="tabpanel" class="tab-pane fade" id="declarations">
      <div class="header">
      <h2>
        <i class="material-icons">question_answer</i>
        <span>Declarations</span>
      </h2>
      </div><br/>

    </div>
  </div>
</div>

