
<center><h3>Ethiopian Ministry of Health - ERMP</h3>
  <h4>Application Details </h4></center>
  <hr/>

  <%= render partial: 'applicant' %>


      <h5>Exam Hub</h5>
    

  

  <h3>Declarations</h3>

  </table>