
<center><h3>Federal Ministry of Health <br/>
  <small>Health Professionals Competency Assessment & Licensure Directorate</small></h3>
  <h4>Application Details </h4></center>
  <hr/><br/>
  <%= render partial: 'applicant' %>