
<% content_for :header do %>
    <div class="block-header">
      <h2><%= AcademicYear.current %> Academic Year</h2>
    </div>
<% end %>

<% if current_user.has_role(User::ADMIN) %>
    <%= render partial: '/dashboards/admin' %>
<% end %>
<% if current_user.has_role(User::APPLICANT) %>
    <%= render partial: 'dashboards/applicant' %>
<% end %>
<% if current_user.has_role(User::INSTITUTION) %>
    <%= render partial: 'dashboards/institution'  %>
<% end %>